body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9ecef;
}

#gameArea {
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid #007bff;
    overflow: hidden;
}

#cart {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 50px;
    height: 30px;
    background-color: #28a745;
    border-radius: 5px;
    transform: translateX(-50%);
}

#item {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffc107;
    border-radius: 50%;
    top: 0;
    left: calc(50% - 15px);
    transition: top 0.5s; /* Adiciona uma transição suave */
}
